<header>
	<div class="container">
		<div class="user"></div>
		<h4>
			FrappFB <small>minimalistic ad-free facebook client</small>
		</h4>
	</div>
</header>
<section></section>
<footer>
	<small>FrappFB v{{version}} &nbsp; | &nbsp; Daniel Esteban Nombela © 2013 &nbsp; | &nbsp; {{L 'underGPL'}}</small>
</footer>
